Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/dgph
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/GLDownloadManager-all-non-framework-target-headers.hmap
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/Objects-normal/x86_64/GLDownloadManager-master.swiftdeps
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/Objects-normal/x86_64/GLDownloadManager.dia
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/Objects-normal/x86_64/GLDownloadManager.o
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/Objects-normal/x86_64/GLDownloadManager.swiftdeps
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/Objects-normal/x86_64/GLDownloadManager.swiftmodule
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/Objects-normal/x86_64/GLDownloadManager~partial.swiftmodule
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/Objects-normal/x86_64/GLDownloadModel.o
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/Objects-normal/x86_64/GLDownloadModel.swiftdeps
Build/Intermediates/GLDownloadManager.build/Debug-iphonesimulator/GLDownloadManager.build/Objects-normal/x86_64/GLDownloadModel~partial.swiftmodule
Build/Products/Debug-iphonesimulator/GLDownloadManager.framework/Modules/GLDownloadManager.swiftmodule/x86_64.swiftmodule
GLDownloadManager.xcodeproj/project.xcworkspace/xcuserdata/leogeng.xcuserdatad/UserInterfaceState.xcuserstate
